.btn-filter-style {
    background-image: url('project://database/Assets/Texture/GUI%20Pro%20Kit%20Fantasy%20RPG/Sprites/00_Common/common_btn_yellow.png?fileID=-4189922956459317181&guid=ae9f8677ca3c24a7c80d7217a941f886&type=3#common_btn_yellow_0');
    height: 80px;
    width: 180px;
}

.btn-filter-style:hover {
    background-image: url('project://database/Assets/Texture/GUI%20Pro%20Kit%20Fantasy%20RPG/Sprites/00_Common/common_btn_yellow.png?fileID=-4189922956459317181&guid=ae9f8677ca3c24a7c80d7217a941f886&type=3#common_btn_yellow_0');
    height: 80px;
    width: 180px;
    -unity-background-image-tint-color: rgb(224, 224, 224);
}

.button-return-style {
    background-color: rgba(188, 188, 188, 0);
    background-image: url('project://database/Assets/Texture/gui_flat_light/Elements/Additional%20element%20sizes/buttons/circle/128x128px/repeat.png?fileID=21300000&guid=eda38d8560c025e4b89c2ddd4a588242&type=3#repeat');
    width: 80px;
    height: 80px;
}

.button-return-style:hover {
    background-color: rgba(188, 188, 188, 0);
    background-image: url('project://database/Assets/Texture/gui_flat_light/Elements/Additional%20element%20sizes/buttons/circle/128x128px/repeat.png?fileID=21300000&guid=eda38d8560c025e4b89c2ddd4a588242&type=3#repeat');
    width: 80px;
    height: 80px;
    -unity-background-image-tint-color: rgb(219, 219, 219);
}

.unity-button {
}

.btn-filter-style:active {
    background-image: url('project://database/Assets/Texture/GUI%20Pro%20Kit%20Fantasy%20RPG/Sprites/00_Common/common_btn_yellow.png?fileID=-4189922956459317181&guid=ae9f8677ca3c24a7c80d7217a941f886&type=3#common_btn_yellow_0');
    height: 80px;
    width: 180px;
    -unity-background-image-tint-color: rgba(255, 255, 255, 255);
    scale: 1.05 1.05;
}

.button-return-style:active {
    background-color: rgba(188, 188, 188, 0);
    background-image: url('project://database/Assets/Texture/GUI%20Pro%20Kit%20Fantasy%20RPG/Sprites/00_Common/common_btn_yellow.png?fileID=-4189922956459317181&guid=ae9f8677ca3c24a7c80d7217a941f886&type=3#common_btn_yellow_0');
    width: 80px;
    height: 80px;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    scale: 1.05 1.05;
}
